

  @mixin center {
        display: block;
        margin-left: auto;
        margin-right: auto;
  }


// Media Query

@mixin mq($break) {
    
    @if($break < $breakpoint) {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if ($break >= $breakpoint) {
        @media (min-width: $breakpoint){
            @content;
        }
    }

}